ITSApp/ITS/Service References/ITSService.SupplierService/SupplierService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2061/SupplierService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ITSService.DTO" />
  <xs:element name="GetCaseByCaseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseByCaseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetCaseByCaseIDResult" nillable="true" type="q1:Case" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseByLikeCaseNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseByLikeCaseNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetCaseByLikeCaseNumberResult" nillable="true" type="q2:ArrayOfCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetAllCaseResult" nillable="true" type="q3:ArrayOfCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTreatmentType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTreatmentTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetAllTreatmentTypeResult" nillable="true" type="q4:ArrayOfTreatmentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentTypeByTreatmentCategoryID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="treatmentCategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentTypeByTreatmentCategoryIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetTreatmentTypeByTreatmentCategoryIDResult" nillable="true" type="q5:ArrayOfTreatmentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentCategoriesTreatmentTypeByTreatmentCategoryID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="treatmentCategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentCategoriesTreatmentTypeByTreatmentCategoryIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetTreatmentCategoriesTreatmentTypeByTreatmentCategoryIDResult" nillable="true" type="q6:ArrayOfTreatmentCategoriesTreatmentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentCategoriesTreatmentTypeByTreatmentTypeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="treatmentTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentCategoriesTreatmentTypeByTreatmentTypeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetTreatmentCategoriesTreatmentTypeByTreatmentTypeIDResult" nillable="true" type="q7:ArrayOfTreatmentCategoriesTreatmentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentCategoriesRegistrationTypeByTreatmentCategoryID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="treatmentCategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentCategoriesRegistrationTypeByTreatmentCategoryIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetTreatmentCategoriesRegistrationTypeByTreatmentCategoryIDResult" nillable="true" type="q8:ArrayOfTreatmentCategoriesRegistrationTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentCategoriesRegistrationTypeByRegistrationTypeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrationTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentCategoriesRegistrationTypeByRegistrationTypeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetTreatmentCategoriesRegistrationTypeByRegistrationTypeIDResult" nillable="true" type="q9:ArrayOfTreatmentCategoriesRegistrationTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentCategoriesAreasofExpertiseByTreatmentCategoryID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="treatmentCategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentCategoriesAreasofExpertiseByTreatmentCategoryIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetTreatmentCategoriesAreasofExpertiseByTreatmentCategoryIDResult" nillable="true" type="q10:ArrayOfTreatmentCategoriesAreasofExpertises" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentCategoriesAreasofExpertiseByAreasofExpertiseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="areasofExpertiseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentCategoriesAreasofExpertiseByAreasofExpertiseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetTreatmentCategoriesAreasofExpertiseByAreasofExpertiseIDResult" nillable="true" type="q11:ArrayOfTreatmentCategoriesAreasofExpertises" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierInsurance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplierInsurance" nillable="true" type="q12:SupplierInsurance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierInsuranceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSupplierInsuranceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierInsuranceBySupplierInsuredID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierInsuredID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierInsuranceBySupplierInsuredIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSupplierInsuranceBySupplierInsuredIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierInsuranceBySupplierID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierInsuranceBySupplierIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSupplierInsuranceBySupplierIDResult" nillable="true" type="q13:ArrayOfSupplierInsurance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierSiteAuditBySupplierDocumentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierDocumentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierSiteAuditBySupplierDocumentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSupplierSiteAuditBySupplierDocumentIDResult" nillable="true" type="q14:ArrayOfSupplierSiteAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierSiteAuditBySupplierID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierSiteAuditBySupplierIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSupplierSiteAuditBySupplierIDResult" nillable="true" type="q15:ArrayOfSupplierSiteAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierSiteAuditByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierSiteAuditByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSupplierSiteAuditByUserIDResult" nillable="true" type="q16:ArrayOfSupplierSiteAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierSiteAuditBySupplierSiteAuditID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierSiteAuditID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierSiteAuditBySupplierSiteAuditIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSupplierSiteAuditBySupplierSiteAuditIDResult" nillable="true" type="q17:SupplierSiteAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierSiteAuditBySupplierSiteAuditID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplierSiteAudit" nillable="true" type="q18:SupplierSiteAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierSiteAuditBySupplierSiteAuditIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSupplierSiteAuditBySupplierSiteAuditIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierSiteAudit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplierSiteAudit" nillable="true" type="q19:SupplierSiteAudit" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplierDocument" nillable="true" type="q20:SupplierDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierSiteAuditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSupplierSiteAuditResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierSiteAuditBySupplierSiteAuditID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierSiteAuditID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierSiteAuditBySupplierSiteAuditIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSupplierSiteAuditBySupplierSiteAuditIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuppliersLikeTreatmentType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TreatmentType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuppliersLikeTreatmentTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSuppliersLikeTreatmentTypeResult" nillable="true" type="q21:ArrayOfSupplierSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierClinicalAudit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplierClinicalAudit" nillable="true" type="q22:SupplierClinicalAudit" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplierDocument" nillable="true" type="q23:SupplierDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierClinicalAuditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSupplierClinicalAuditResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierClinicalAuditBySupplierClinicalAuditID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplierClinicalAudit" nillable="true" type="q24:SupplierClinicalAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierClinicalAuditBySupplierClinicalAuditIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSupplierClinicalAuditBySupplierClinicalAuditIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierClinicalAuditByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierClinicalAuditByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSupplierClinicalAuditByUserIDResult" nillable="true" type="q25:ArrayOfSupplierClinicalAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierClinicalAuditBySupplierID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierClinicalAuditBySupplierIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSupplierClinicalAuditBySupplierIDResult" nillable="true" type="q26:ArrayOfSupplierClinicalAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierClinicalAuditBySupplierClinicalAuditID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierClinicalAuditID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierClinicalAuditBySupplierClinicalAuditIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSupplierClinicalAuditBySupplierClinicalAuditIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierPractitioner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplierPractitioner" nillable="true" type="q27:SupplierPractitioner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierPractitionerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSupplierPractitionerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierPractitioner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplierPractitioner" nillable="true" type="q28:SupplierPractitioner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierPractitionerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSupplierPractitionerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierPractitionerBySupplierPractitionerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierPractitionerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierPractitionerBySupplierPractitionerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSupplierPractitionerBySupplierPractitionerIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierPractitionerByPractitionerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practitionerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierPractitionerByPractitionerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSupplierPractitionerByPractitionerIDResult" nillable="true" type="q29:ArrayOfSupplierPractitioner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierPractitionerBySupplierID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierPractitionerBySupplierIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSupplierPractitionerBySupplierIDResult" nillable="true" type="q30:ArrayOfSupplierPractitioner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierPractitionerBySupplierPractitionerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierPractitionerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierPractitionerBySupplierPractitionerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSupplierPractitionerBySupplierPractitionerIDResult" nillable="true" type="q31:SupplierPractitioner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="caseObj" nillable="true" type="q32:Case" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCaseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCaseByCaseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="caseObj" nillable="true" type="q33:Case" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCaseByCaseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCaseByCaseIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCaseByCaseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCaseByCaseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCaseByCaseIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSupplier">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetAllSupplierResult" nillable="true" type="q34:ArrayOfSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierBySupplierID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierBySupplierIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSupplierBySupplierIDResult" nillable="true" type="q35:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuppliersLikeSupplierName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuppliersLikeSupplierNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSuppliersLikeSupplierNameResult" nillable="true" type="q36:ArrayOfSupplierSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplier" nillable="true" type="q37:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSupplierResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierBySupplierID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplier" nillable="true" type="q38:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierBySupplierIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSupplierBySupplierIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierAndTreatmentTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplier" nillable="true" type="q39:Supplier" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplierTreatments" nillable="true" type="q40:ArrayOfSupplierTreatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierAndTreatmentTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSupplierAndTreatmentTypesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllComplaintstatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllComplaintstatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetAllComplaintstatusResult" nillable="true" type="q41:ArrayOfComplaintStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllComplaintType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllComplaintTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetAllComplaintTypeResult" nillable="true" type="q42:ArrayOfComplaintType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="SupplierDocument" nillable="true" type="q43:SupplierDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSupplierDocumentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="SupplierDocument" nillable="true" type="q44:SupplierDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSupplierDocumentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierDocumentBySupplierIDAndDocumentTypeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierID" type="xs:int" />
        <xs:element minOccurs="0" name="DocumentTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierDocumentBySupplierIDAndDocumentTypeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSupplierDocumentBySupplierIDAndDocumentTypeIDResult" nillable="true" type="q45:ArrayOfSupplierDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierDocumentBySupplierDocumentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierDocumentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierDocumentBySupplierDocumentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSupplierDocumentBySupplierDocumentIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierComplaint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplierComplaint" nillable="true" type="q46:SupplierComplaint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierComplaintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSupplierComplaintResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierComplaintBySupplierComplaintID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplierComplaint" nillable="true" type="q47:SupplierComplaint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierComplaintBySupplierComplaintIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSupplierComplaintBySupplierComplaintIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierComplaintBySupplierID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierComplaintBySupplierIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSupplierComplaintBySupplierIDResult" nillable="true" type="q48:ArrayOfSupplierComplaint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuppliersLikePostCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuppliersLikePostCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSuppliersLikePostCodeResult" nillable="true" type="q49:ArrayOfSupplierSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierComplaintBySupplierComplaintID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierTreatmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierComplaintBySupplierComplaintIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSupplierComplaintBySupplierComplaintIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierTreatment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplierTreatment" nillable="true" type="q50:SupplierTreatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierTreatmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSupplierTreatmentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierTreatmentBySupplierTreatmentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplierTreatment" nillable="true" type="q51:SupplierTreatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierTreatmentBySupplierTreatmentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSupplierTreatmentBySupplierTreatmentIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierTreatmentBySupplierID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierTreatmentBySupplierIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSupplierTreatmentBySupplierIDResult" nillable="true" type="q52:ArrayOfSupplierTreatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierTreatmentPricing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplierTreatmentPricing" nillable="true" type="q53:SupplierTreatmentPricing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierTreatmentPricingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSupplierTreatmentPricingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierTreatmentPricingByPricingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplierTreatmentPricing" nillable="true" type="q54:SupplierTreatmentPricing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierTreatmentPricingByPricingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSupplierTreatmentPricingByPricingIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierTreatmentPricingBySupplierTreatmentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierTreatmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierTreatmentPricingBySupplierTreatmentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSupplierTreatmentPricingBySupplierTreatmentIdResult" nillable="true" type="q55:ArrayOfSupplierTreatmentPricing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRegistrationType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRegistrationTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetAllRegistrationTypeResult" nillable="true" type="q56:ArrayOfRegistrationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierInsurance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplierInsurance" nillable="true" type="q57:SupplierInsurance" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="supplierDocument" nillable="true" type="q58:SupplierDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierInsuranceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSupplierInsuranceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>