ITSPublicApp/ITSPublicApp.Web/Service References/ITSService.AssessmentService/AssessmentService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ITSService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ITSService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CaseAssessmentRating">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssessmentTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="CaseAssessmentRatingID" type="xs:int" />
      <xs:element minOccurs="0" name="CaseID" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" type="xs:decimal" />
      <xs:element minOccurs="0" name="RatingDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaseAssessmentRating" nillable="true" type="tns:CaseAssessmentRating" />
  <xs:complexType name="CaseAssessment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssessmentAuthorisationID" type="xs:int" />
      <xs:element minOccurs="0" name="AssessmentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AssessmentTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="AuthorisationModification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaseID" type="xs:int" />
      <xs:element minOccurs="0" name="CycleTime" type="xs:int" />
      <xs:element minOccurs="0" name="FinalAssessmentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasPatientConsentForm" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasPatientHomeExerciseProgramme" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasPatientPastSymptoms" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasPatientPresentTreatment" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsAccepted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPatientDischarge" type="xs:boolean" />
      <xs:element minOccurs="0" name="PatientAdditionalInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientPresentTreatmentDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientRecommendedTreatments" type="xs:int" />
      <xs:element minOccurs="0" name="PatientRecoveryPercentage" type="xs:decimal" />
      <xs:element minOccurs="0" name="PatientTreatmentMonths" type="xs:int" />
      <xs:element minOccurs="0" name="PatientWorkCapacityID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientWorkstatusID" type="xs:int" />
      <xs:element minOccurs="0" name="PsychologicalFactorDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PsychologicalFactorID" type="xs:int" />
      <xs:element minOccurs="0" name="TotalCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalSessions" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaseAssessment" nillable="true" type="tns:CaseAssessment" />
  <xs:complexType name="ArrayOfPatientImpact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientImpact" nillable="true" type="tns:PatientImpact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientImpact" nillable="true" type="tns:ArrayOfPatientImpact" />
  <xs:complexType name="PatientImpact">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientImpactID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientImpactName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientImpact" nillable="true" type="tns:PatientImpact" />
  <xs:complexType name="ArrayOfPatientImpactValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientImpactValue" nillable="true" type="tns:PatientImpactValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientImpactValue" nillable="true" type="tns:ArrayOfPatientImpactValue" />
  <xs:complexType name="PatientImpactValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientImpactValueID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientImpactValueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientImpactValue" nillable="true" type="tns:PatientImpactValue" />
  <xs:complexType name="ArrayOfPatientWorkCapacity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientWorkCapacity" nillable="true" type="tns:PatientWorkCapacity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientWorkCapacity" nillable="true" type="tns:ArrayOfPatientWorkCapacity" />
  <xs:complexType name="PatientWorkCapacity">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientWorkCapacityID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientWorkCapacityName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientWorkCapacity" nillable="true" type="tns:PatientWorkCapacity" />
  <xs:complexType name="ArrayOfPatientWorkstatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientWorkstatus" nillable="true" type="tns:PatientWorkstatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientWorkstatus" nillable="true" type="tns:ArrayOfPatientWorkstatus" />
  <xs:complexType name="PatientWorkstatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientWorkstatusID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientWorkstatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientWorkstatus" nillable="true" type="tns:PatientWorkstatus" />
  <xs:complexType name="ArrayOfPsychologicalFactor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PsychologicalFactor" nillable="true" type="tns:PsychologicalFactor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPsychologicalFactor" nillable="true" type="tns:ArrayOfPsychologicalFactor" />
  <xs:complexType name="PsychologicalFactor">
    <xs:sequence>
      <xs:element minOccurs="0" name="PsychologicalFactorID" type="xs:int" />
      <xs:element minOccurs="0" name="PsychologicalFactorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PsychologicalFactor" nillable="true" type="tns:PsychologicalFactor" />
</xs:schema>