ITSApp/ITS/Service References/ITSService.CaseService/CaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CaseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://203.134.215.159:88/ITS/CaseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://203.134.215.159:88/ITS/CaseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://203.134.215.159:88/ITS/CaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ITSService.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICaseService_AddCase_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCase" />
  </wsdl:message>
  <wsdl:message name="ICaseService_AddCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCaseResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCaseByCaseID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseByCaseID" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCaseByCaseID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseByCaseIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCaseByLikeCaseNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseByLikeCaseNumber" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCaseByLikeCaseNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseByLikeCaseNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetReferrerCasesByWorkflowID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReferrerCasesByWorkflowID" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetReferrerCasesByWorkflowID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReferrerCasesByWorkflowIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_AddReferral_InputMessage">
    <wsdl:part name="parameters" element="tns:AddReferral" />
  </wsdl:message>
  <wsdl:message name="ICaseService_AddReferral_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddReferralResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_AddCaseContact_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCaseContact" />
  </wsdl:message>
  <wsdl:message name="ICaseService_AddCaseContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCaseContactResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCaseContactsByCaseID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseContactsByCaseID" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCaseContactsByCaseID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseContactsByCaseIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCasesByWorkFlowID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCasesByWorkFlowID" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCasesByWorkFlowID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCasesByWorkFlowIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetReferrerAuthorisationsByReferrerID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReferrerAuthorisationsByReferrerID" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetReferrerAuthorisationsByReferrerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReferrerAuthorisationsByReferrerIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCaseCounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseCounts" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCaseCounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseCountsResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCaseCountByTreatmentCategoryID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseCountByTreatmentCategoryID" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCaseCountByTreatmentCategoryID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseCountByTreatmentCategoryIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_UpdateCaseSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCaseSupplier" />
  </wsdl:message>
  <wsdl:message name="ICaseService_UpdateCaseSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCaseSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_AddCaseAppointmentDate_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCaseAppointmentDate" />
  </wsdl:message>
  <wsdl:message name="ICaseService_AddCaseAppointmentDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCaseAppointmentDateResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCaseAppointmentDateByCaseID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseAppointmentDateByCaseID" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCaseAppointmentDateByCaseID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseAppointmentDateByCaseIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_AddPatientContactAttempt_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPatientContactAttempt" />
  </wsdl:message>
  <wsdl:message name="ICaseService_AddPatientContactAttempt_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPatientContactAttemptResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetPatientContactAttemptsByCaseID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientContactAttemptsByCaseID" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetPatientContactAttemptsByCaseID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientContactAttemptsByCaseIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetReferralCases_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReferralCases" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetReferralCases_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReferralCasesResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetReferralCasesByTreatmentCategoryID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReferralCasesByTreatmentCategoryID" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetReferralCasesByTreatmentCategoryID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReferralCasesByTreatmentCategoryIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetInitialAssessmentQACaseWorkflowPatientProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInitialAssessmentQACaseWorkflowPatientProjects" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetInitialAssessmentQACaseWorkflowPatientProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInitialAssessmentQACaseWorkflowPatientProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetInitialAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInitialAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryID" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetInitialAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInitialAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetAuthorisationCaseWorkflowPatientProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorisationCaseWorkflowPatientProjects" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetAuthorisationCaseWorkflowPatientProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorisationCaseWorkflowPatientProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetAuthorisationCaseWorkflowPatientProjectsByTreatmentCategoryID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorisationCaseWorkflowPatientProjectsByTreatmentCategoryID" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetAuthorisationCaseWorkflowPatientProjectsByTreatmentCategoryID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorisationCaseWorkflowPatientProjectsByTreatmentCategoryIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetReviewAssessmentQACaseWorkflowPatientProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewAssessmentQACaseWorkflowPatientProjects" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetReviewAssessmentQACaseWorkflowPatientProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewAssessmentQACaseWorkflowPatientProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetReviewAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryID" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetReviewAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCaseStoppedCaseWorkflowPatientProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseStoppedCaseWorkflowPatientProjects" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCaseStoppedCaseWorkflowPatientProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseStoppedCaseWorkflowPatientProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCaseStoppedCaseWorkflowPatientProjectsByTreatmentCategoryID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseStoppedCaseWorkflowPatientProjectsByTreatmentCategoryID" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCaseStoppedCaseWorkflowPatientProjectsByTreatmentCategoryID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseStoppedCaseWorkflowPatientProjectsByTreatmentCategoryIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetFinalAssessmentCaseWorkflowPatientProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFinalAssessmentCaseWorkflowPatientProjects" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetFinalAssessmentCaseWorkflowPatientProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFinalAssessmentCaseWorkflowPatientProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetFinalAssessmentCaseWorkflowPatientProjectsByTreatmentCategoryID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFinalAssessmentCaseWorkflowPatientProjectsByTreatmentCategoryID" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetFinalAssessmentCaseWorkflowPatientProjectsByTreatmentCategoryID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFinalAssessmentCaseWorkflowPatientProjectsByTreatmentCategoryIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_UpdateCaseWorkFlow_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCaseWorkFlow" />
  </wsdl:message>
  <wsdl:message name="ICaseService_UpdateCaseWorkFlow_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCaseWorkFlowResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetInitialAssessmentCasePatientSupplierPractitionerByCaseID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInitialAssessmentCasePatientSupplierPractitionerByCaseID" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetInitialAssessmentCasePatientSupplierPractitionerByCaseID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInitialAssessmentCasePatientSupplierPractitionerByCaseIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetBookIACasePatientByCaseID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookIACasePatientByCaseID" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetBookIACasePatientByCaseID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookIACasePatientByCaseIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_AddBookIA_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBookIA" />
  </wsdl:message>
  <wsdl:message name="ICaseService_AddBookIA_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookIAResponse" />
  </wsdl:message>
  <wsdl:portType name="ICaseService">
    <wsdl:operation name="AddCase">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/AddCase" message="tns:ICaseService_AddCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/AddCaseResponse" message="tns:ICaseService_AddCase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCaseByCaseID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetCaseByCaseID" message="tns:ICaseService_GetCaseByCaseID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetCaseByCaseIDResponse" message="tns:ICaseService_GetCaseByCaseID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCaseByLikeCaseNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetCaseByLikeCaseNumber" message="tns:ICaseService_GetCaseByLikeCaseNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetCaseByLikeCaseNumberResponse" message="tns:ICaseService_GetCaseByLikeCaseNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReferrerCasesByWorkflowID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetReferrerCasesByWorkflowID" message="tns:ICaseService_GetReferrerCasesByWorkflowID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetReferrerCasesByWorkflowIDResponse" message="tns:ICaseService_GetReferrerCasesByWorkflowID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddReferral">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/AddReferral" message="tns:ICaseService_AddReferral_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/AddReferralResponse" message="tns:ICaseService_AddReferral_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCaseContact">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/AddCaseContact" message="tns:ICaseService_AddCaseContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/AddCaseContactResponse" message="tns:ICaseService_AddCaseContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCaseContactsByCaseID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetCaseContactsByCaseID" message="tns:ICaseService_GetCaseContactsByCaseID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetCaseContactsByCaseIDResponse" message="tns:ICaseService_GetCaseContactsByCaseID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCasesByWorkFlowID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetCasesByWorkFlowID" message="tns:ICaseService_GetCasesByWorkFlowID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetCasesByWorkFlowIDResponse" message="tns:ICaseService_GetCasesByWorkFlowID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReferrerAuthorisationsByReferrerID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetReferrerAuthorisationsByReferrerID" message="tns:ICaseService_GetReferrerAuthorisationsByReferrerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetReferrerAuthorisationsByReferrerIDResponse" message="tns:ICaseService_GetReferrerAuthorisationsByReferrerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCaseCounts">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetCaseCounts" message="tns:ICaseService_GetCaseCounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetCaseCountsResponse" message="tns:ICaseService_GetCaseCounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCaseCountByTreatmentCategoryID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetCaseCountByTreatmentCategoryID" message="tns:ICaseService_GetCaseCountByTreatmentCategoryID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetCaseCountByTreatmentCategoryIDResponse" message="tns:ICaseService_GetCaseCountByTreatmentCategoryID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCaseSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/UpdateCaseSupplier" message="tns:ICaseService_UpdateCaseSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/UpdateCaseSupplierResponse" message="tns:ICaseService_UpdateCaseSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCaseAppointmentDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/AddCaseAppointmentDate" message="tns:ICaseService_AddCaseAppointmentDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/AddCaseAppointmentDateResponse" message="tns:ICaseService_AddCaseAppointmentDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCaseAppointmentDateByCaseID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetCaseAppointmentDateByCaseID" message="tns:ICaseService_GetCaseAppointmentDateByCaseID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetCaseAppointmentDateByCaseIDResponse" message="tns:ICaseService_GetCaseAppointmentDateByCaseID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPatientContactAttempt">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/AddPatientContactAttempt" message="tns:ICaseService_AddPatientContactAttempt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/AddPatientContactAttemptResponse" message="tns:ICaseService_AddPatientContactAttempt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientContactAttemptsByCaseID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetPatientContactAttemptsByCaseID" message="tns:ICaseService_GetPatientContactAttemptsByCaseID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetPatientContactAttemptsByCaseIDResponse" message="tns:ICaseService_GetPatientContactAttemptsByCaseID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReferralCases">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetReferralCases" message="tns:ICaseService_GetReferralCases_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetReferralCasesResponse" message="tns:ICaseService_GetReferralCases_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReferralCasesByTreatmentCategoryID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetReferralCasesByTreatmentCategoryID" message="tns:ICaseService_GetReferralCasesByTreatmentCategoryID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetReferralCasesByTreatmentCategoryIDResponse" message="tns:ICaseService_GetReferralCasesByTreatmentCategoryID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInitialAssessmentQACaseWorkflowPatientProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetInitialAssessmentQACaseWorkflowPatientProjects" message="tns:ICaseService_GetInitialAssessmentQACaseWorkflowPatientProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetInitialAssessmentQACaseWorkflowPatientProjectsResponse" message="tns:ICaseService_GetInitialAssessmentQACaseWorkflowPatientProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInitialAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetInitialAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryID" message="tns:ICaseService_GetInitialAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetInitialAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryIDResponse" message="tns:ICaseService_GetInitialAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorisationCaseWorkflowPatientProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetAuthorisationCaseWorkflowPatientProjects" message="tns:ICaseService_GetAuthorisationCaseWorkflowPatientProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetAuthorisationCaseWorkflowPatientProjectsResponse" message="tns:ICaseService_GetAuthorisationCaseWorkflowPatientProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorisationCaseWorkflowPatientProjectsByTreatmentCategoryID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetAuthorisationCaseWorkflowPatientProjectsByTreatmentCategoryID" message="tns:ICaseService_GetAuthorisationCaseWorkflowPatientProjectsByTreatmentCategoryID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetAuthorisationCaseWorkflowPatientProjectsByTreatmentCategoryIDResponse" message="tns:ICaseService_GetAuthorisationCaseWorkflowPatientProjectsByTreatmentCategoryID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReviewAssessmentQACaseWorkflowPatientProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetReviewAssessmentQACaseWorkflowPatientProjects" message="tns:ICaseService_GetReviewAssessmentQACaseWorkflowPatientProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetReviewAssessmentQACaseWorkflowPatientProjectsResponse" message="tns:ICaseService_GetReviewAssessmentQACaseWorkflowPatientProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReviewAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetReviewAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryID" message="tns:ICaseService_GetReviewAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetReviewAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryIDResponse" message="tns:ICaseService_GetReviewAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCaseStoppedCaseWorkflowPatientProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetCaseStoppedCaseWorkflowPatientProjects" message="tns:ICaseService_GetCaseStoppedCaseWorkflowPatientProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetCaseStoppedCaseWorkflowPatientProjectsResponse" message="tns:ICaseService_GetCaseStoppedCaseWorkflowPatientProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCaseStoppedCaseWorkflowPatientProjectsByTreatmentCategoryID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetCaseStoppedCaseWorkflowPatientProjectsByTreatmentCategoryID" message="tns:ICaseService_GetCaseStoppedCaseWorkflowPatientProjectsByTreatmentCategoryID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetCaseStoppedCaseWorkflowPatientProjectsByTreatmentCategoryIDResponse" message="tns:ICaseService_GetCaseStoppedCaseWorkflowPatientProjectsByTreatmentCategoryID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFinalAssessmentCaseWorkflowPatientProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetFinalAssessmentCaseWorkflowPatientProjects" message="tns:ICaseService_GetFinalAssessmentCaseWorkflowPatientProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetFinalAssessmentCaseWorkflowPatientProjectsResponse" message="tns:ICaseService_GetFinalAssessmentCaseWorkflowPatientProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFinalAssessmentCaseWorkflowPatientProjectsByTreatmentCategoryID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetFinalAssessmentCaseWorkflowPatientProjectsByTreatmentCategoryID" message="tns:ICaseService_GetFinalAssessmentCaseWorkflowPatientProjectsByTreatmentCategoryID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetFinalAssessmentCaseWorkflowPatientProjectsByTreatmentCategoryIDResponse" message="tns:ICaseService_GetFinalAssessmentCaseWorkflowPatientProjectsByTreatmentCategoryID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCaseWorkFlow">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/UpdateCaseWorkFlow" message="tns:ICaseService_UpdateCaseWorkFlow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/UpdateCaseWorkFlowResponse" message="tns:ICaseService_UpdateCaseWorkFlow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInitialAssessmentCasePatientSupplierPractitionerByCaseID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetInitialAssessmentCasePatientSupplierPractitionerByCaseID" message="tns:ICaseService_GetInitialAssessmentCasePatientSupplierPractitionerByCaseID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetInitialAssessmentCasePatientSupplierPractitionerByCaseIDResponse" message="tns:ICaseService_GetInitialAssessmentCasePatientSupplierPractitionerByCaseID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookIACasePatientByCaseID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetBookIACasePatientByCaseID" message="tns:ICaseService_GetBookIACasePatientByCaseID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetBookIACasePatientByCaseIDResponse" message="tns:ICaseService_GetBookIACasePatientByCaseID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBookIA">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/AddBookIA" message="tns:ICaseService_AddBookIA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/AddBookIAResponse" message="tns:ICaseService_AddBookIA_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICaseService" type="tns:ICaseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCase">
      <soap:operation soapAction="http://tempuri.org/ICaseService/AddCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseByCaseID">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetCaseByCaseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseByLikeCaseNumber">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetCaseByLikeCaseNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferrerCasesByWorkflowID">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetReferrerCasesByWorkflowID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReferral">
      <soap:operation soapAction="http://tempuri.org/ICaseService/AddReferral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCaseContact">
      <soap:operation soapAction="http://tempuri.org/ICaseService/AddCaseContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseContactsByCaseID">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetCaseContactsByCaseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCasesByWorkFlowID">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetCasesByWorkFlowID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferrerAuthorisationsByReferrerID">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetReferrerAuthorisationsByReferrerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseCounts">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetCaseCounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseCountByTreatmentCategoryID">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetCaseCountByTreatmentCategoryID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCaseSupplier">
      <soap:operation soapAction="http://tempuri.org/ICaseService/UpdateCaseSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCaseAppointmentDate">
      <soap:operation soapAction="http://tempuri.org/ICaseService/AddCaseAppointmentDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseAppointmentDateByCaseID">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetCaseAppointmentDateByCaseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPatientContactAttempt">
      <soap:operation soapAction="http://tempuri.org/ICaseService/AddPatientContactAttempt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientContactAttemptsByCaseID">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetPatientContactAttemptsByCaseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferralCases">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetReferralCases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferralCasesByTreatmentCategoryID">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetReferralCasesByTreatmentCategoryID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInitialAssessmentQACaseWorkflowPatientProjects">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetInitialAssessmentQACaseWorkflowPatientProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInitialAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryID">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetInitialAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorisationCaseWorkflowPatientProjects">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetAuthorisationCaseWorkflowPatientProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorisationCaseWorkflowPatientProjectsByTreatmentCategoryID">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetAuthorisationCaseWorkflowPatientProjectsByTreatmentCategoryID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReviewAssessmentQACaseWorkflowPatientProjects">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetReviewAssessmentQACaseWorkflowPatientProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReviewAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryID">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetReviewAssessmentQACaseWorkflowPatientProjectsByTreatmentCategoryID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseStoppedCaseWorkflowPatientProjects">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetCaseStoppedCaseWorkflowPatientProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseStoppedCaseWorkflowPatientProjectsByTreatmentCategoryID">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetCaseStoppedCaseWorkflowPatientProjectsByTreatmentCategoryID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFinalAssessmentCaseWorkflowPatientProjects">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetFinalAssessmentCaseWorkflowPatientProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFinalAssessmentCaseWorkflowPatientProjectsByTreatmentCategoryID">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetFinalAssessmentCaseWorkflowPatientProjectsByTreatmentCategoryID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCaseWorkFlow">
      <soap:operation soapAction="http://tempuri.org/ICaseService/UpdateCaseWorkFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInitialAssessmentCasePatientSupplierPractitionerByCaseID">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetInitialAssessmentCasePatientSupplierPractitionerByCaseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookIACasePatientByCaseID">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetBookIACasePatientByCaseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBookIA">
      <soap:operation soapAction="http://tempuri.org/ICaseService/AddBookIA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CaseService">
    <wsdl:port name="BasicHttpBinding_ICaseService" binding="tns:BasicHttpBinding_ICaseService">
      <soap:address location="http://203.134.215.159:88/ITS/CaseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>