ITSPublicApp/ITSPublicApp.Web/Service References/ITSService.PractitionerService/PractitionerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://112.196.29.227:8081/ITS/PractitionerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ITSService.DTO" />
  <xs:element name="GetAllAreasofExpertise">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAreasofExpertiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetAllAreasofExpertiseResult" nillable="true" type="q1:ArrayOfAreasofExpertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPractitioner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="practitioner" nillable="true" type="q2:Practitioner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPractitionerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPractitionerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerLikePractitionerName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practitionerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerLikePractitionerNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPractitionerLikePractitionerNameResult" nillable="true" type="q3:ArrayOfPractitioner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePractitionerByPractitionerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practitionerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePractitionerByPractitionerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePractitionerByPractitionerIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPractitionerExpertise">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="practitionerExpertise" nillable="true" type="q4:PractitionerExpertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPractitionerExpertiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPractitionerExpertiseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePractitionerByPractitionerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="practitioner" nillable="true" type="q5:Practitioner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePractitionerByPractitionerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePractitionerByPractitionerIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerByPractitionerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practitionerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerByPractitionerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPractitionerByPractitionerIDResult" nillable="true" type="q6:Practitioner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerExpertiseByPractitionerExpertiseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practitionerExpertiseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerExpertiseByPractitionerExpertiseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPractitionerExpertiseByPractitionerExpertiseIDResult" nillable="true" type="q7:PractitionerExpertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerExpertiseByPractitionerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practitionerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerExpertiseByPractitionerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPractitionerExpertiseByPractitionerIDResult" nillable="true" type="q8:ArrayOfPractitionerExpertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerExpertiseByAreaofExpertiseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="areaofExpertiseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerExpertiseByAreaofExpertiseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPractitionerExpertiseByAreaofExpertiseIDResult" nillable="true" type="q9:ArrayOfPractitionerExpertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePractitionerExpertiseByPractitionerExpertiseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practitionerExpertiseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePractitionerExpertiseByPractitionerExpertiseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePractitionerExpertiseByPractitionerExpertiseIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePractitionerExpertise">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="practitionerExpertise" nillable="true" type="q10:ArrayOfPractitionerExpertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePractitionerExpertiseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTreatmentCatagories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTreatmentCatagoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetAllTreatmentCatagoriesResult" nillable="true" type="q11:ArrayOfTreatmentCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPractitionerRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="practitionerRegistration" nillable="true" type="q12:PractitionerRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPractitionerRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPractitionerRegistrationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePractitionerRegistrationByPractitionerRegistrationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practitionerRegistrationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePractitionerRegistrationByPractitionerRegistrationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePractitionerRegistrationByPractitionerRegistrationIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerRegistrationByPractitionerRegistrationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practitionerRegistrationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerRegistrationByPractitionerRegistrationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPractitionerRegistrationByPractitionerRegistrationIDResult" nillable="true" type="q13:PractitionerRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerRegistrationsByPractitionerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PractitionerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerRegistrationsByPractitionerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPractitionerRegistrationsByPractitionerIDResult" nillable="true" type="q14:ArrayOfPractitionerRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerRegistrationsByTreatmentCategoryID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="treatmentCategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerRegistrationsByTreatmentCategoryIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPractitionerRegistrationsByTreatmentCategoryIDResult" nillable="true" type="q15:ArrayOfPractitionerRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerRegistrationsByRegistrationTypeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrationTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerRegistrationsByRegistrationTypeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPractitionerRegistrationsByRegistrationTypeIDResult" nillable="true" type="q16:ArrayOfPractitionerRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePractitionerRegistrationByPractitionerRegistrationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="practitionerRegistration" nillable="true" type="q17:PractitionerRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePractitionerRegistrationByPractitionerRegistrationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePractitionerRegistrationByPractitionerRegistrationIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracitionersByTreatmentCategoryIDAndSupplierID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierID" type="xs:int" />
        <xs:element minOccurs="0" name="treatmentCategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracitionersByTreatmentCategoryIDAndSupplierIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPracitionersByTreatmentCategoryIDAndSupplierIDResult" nillable="true" type="q18:ArrayOfPracitionerSupplierTreatmentCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionersRecentlyAdded">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionersRecentlyAddedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPractitionersRecentlyAddedResult" nillable="true" type="q19:ArrayOfPractitioner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierPractitionerSupplierByPractitionerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practitionerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierPractitionerSupplierByPractitionerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSupplierPractitionerSupplierByPractitionerIDResult" nillable="true" type="q20:ArrayOfSupplierPractitionerSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionersLikePractitionerName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practitionerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionersLikePractitionerNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPractitionersLikePractitionerNameResult" nillable="true" type="q21:PagedPractitionerTreatmentRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionersLikeTreatmentCategoryName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="treatmentCategoryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionersLikeTreatmentCategoryNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPractitionersLikeTreatmentCategoryNameResult" nillable="true" type="q22:PagedPractitionerTreatmentRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>