ITSApp/ITS/Service References/ITSService.PractitionerService/PractitionerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2061/PractitionerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ITSService.DTO" />
  <xs:element name="GetAllAreasofExpertise">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAreasofExpertiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetAllAreasofExpertiseResult" nillable="true" type="q1:ArrayOfAreasofExpertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPractitioner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="practitioner" nillable="true" type="q2:Practitioner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPractitionerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPractitionerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerLikePractitionerName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practitionerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerLikePractitionerNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPractitionerLikePractitionerNameResult" nillable="true" type="q3:ArrayOfPractitioner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerByTreatmentCategoryID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="treatmentCategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerByTreatmentCategoryIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPractitionerByTreatmentCategoryIDResult" nillable="true" type="q4:ArrayOfPractitioner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPractitionerExpertise">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="practitionerExpertise" nillable="true" type="q5:PractitionerExpertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPractitionerExpertiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPractitionerExpertiseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePractitionerByPractitionerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="practitioner" nillable="true" type="q6:Practitioner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePractitionerByPractitionerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePractitionerByPractitionerIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerByPractitionerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practitionerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerByPractitionerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPractitionerByPractitionerIDResult" nillable="true" type="q7:Practitioner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerExpertiseByPractitionerExpertiseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practitionerExpertiseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerExpertiseByPractitionerExpertiseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPractitionerExpertiseByPractitionerExpertiseIDResult" nillable="true" type="q8:PractitionerExpertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerExpertiseByPractitionerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practitionerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerExpertiseByPractitionerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPractitionerExpertiseByPractitionerIDResult" nillable="true" type="q9:ArrayOfPractitionerExpertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerExpertiseByAreaofExpertiseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="areaofExpertiseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractitionerExpertiseByAreaofExpertiseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetPractitionerExpertiseByAreaofExpertiseIDResult" nillable="true" type="q10:ArrayOfPractitionerExpertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePractitionerExpertiseByPractitionerExpertiseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practitionerExpertiseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePractitionerExpertiseByPractitionerExpertiseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePractitionerExpertiseByPractitionerExpertiseIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePractitionerExpertiseByPractitionerExpertiseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="practitionerExpertise" nillable="true" type="q11:PractitionerExpertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePractitionerExpertiseByPractitionerExpertiseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePractitionerExpertiseByPractitionerExpertiseIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTreatmentCatagories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTreatmentCatagoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetAllTreatmentCatagoriesResult" nillable="true" type="q12:ArrayOfTreatmentCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>