ITSApp/ITS/Service References/ITSService.UserService/UserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ITSService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ITSService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/ITS/UserService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailedAttemptCount" type="xs:int" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsLocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastLoginDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PasswordOTP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferrerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReferrerLocationID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReferrerTypes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierTypes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserSessionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="PagedUserTypeUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
      <xs:element minOccurs="0" name="userTypeUser" nillable="true" type="tns:ArrayOfUserTypeUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedUserTypeUser" nillable="true" type="tns:PagedUserTypeUser" />
  <xs:complexType name="ArrayOfUserTypeUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTypeUser" nillable="true" type="tns:UserTypeUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTypeUser" nillable="true" type="tns:ArrayOfUserTypeUser" />
  <xs:complexType name="UserTypeUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="UserTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTypeUser" nillable="true" type="tns:UserTypeUser" />
  <xs:complexType name="UserProject">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ReferrerProjectID" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProject" nillable="true" type="tns:UserProject" />
  <xs:complexType name="PasswordHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordHistoryID" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordHistory" nillable="true" type="tns:PasswordHistory" />
  <xs:complexType name="ArrayOfPasswordHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PasswordHistory" nillable="true" type="tns:PasswordHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPasswordHistory" nillable="true" type="tns:ArrayOfPasswordHistory" />
</xs:schema>