ITSPublicApp/ITSPublicApp.Web/Service References/ITSService.UserService/UserService12.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://112.196.29.227:8081/ITS/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://112.196.29.227:8081/ITS/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://112.196.29.227:8081/ITS/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ITSService.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByUserNameAutoComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserNameAutoComplete" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByUserNameAutoComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserNameAutoCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserName" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUserLock_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserLock" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUserLock_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserLockResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByUserTypeID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserTypeID" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByUserTypeID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserTypeIDResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetReferrerUsersByReferrerLocationID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReferrerUsersByReferrerLocationID" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetReferrerUsersByReferrerLocationID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReferrerUsersByReferrerLocationIDResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUserFailedAttemptCount_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserFailedAttemptCount" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUserFailedAttemptCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserFailedAttemptCountResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ResetUserFailedAttemptCount_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetUserFailedAttemptCount" />
  </wsdl:message>
  <wsdl:message name="IUserService_ResetUserFailedAttemptCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetUserFailedAttemptCountResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersRecentlyAdded_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersRecentlyAdded" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersRecentlyAdded_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersRecentlyAddedResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserTypeUsersLikeUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTypeUsersLikeUsername" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserTypeUsersLikeUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTypeUsersLikeUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserTypeUsersLikeUserType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTypeUsersLikeUserType" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserTypeUsersLikeUserType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTypeUsersLikeUserTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserTypeUsersLikeName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTypeUsersLikeName" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserTypeUsersLikeName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTypeUsersLikeNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserExistsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserExistsByName" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserExistsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserExistsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserTypeUsersLikeReferrerName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTypeUsersLikeReferrerName" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserTypeUsersLikeReferrerName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTypeUsersLikeReferrerNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserTypeUsersLikeSupplierName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTypeUsersLikeSupplierName" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserTypeUsersLikeSupplierName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTypeUsersLikeSupplierNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserById" message="tns:IUserService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserByIdResponse" message="tns:IUserService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserNameAutoComplete">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserByUserNameAutoComplete" message="tns:IUserService_GetUserByUserNameAutoComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserByUserNameAutoCompleteResponse" message="tns:IUserService_GetUserByUserNameAutoComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserByUserName" message="tns:IUserService_GetUserByUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserByUserNameResponse" message="tns:IUserService_GetUserByUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLock">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUserLock" message="tns:IUserService_UpdateUserLock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserLockResponse" message="tns:IUserService_UpdateUserLock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddUser" message="tns:IUserService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddUserResponse" message="tns:IUserService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUser" message="tns:IUserService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserResponse" message="tns:IUserService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserTypeID">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserByUserTypeID" message="tns:IUserService_GetUserByUserTypeID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserByUserTypeIDResponse" message="tns:IUserService_GetUserByUserTypeID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReferrerUsersByReferrerLocationID">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetReferrerUsersByReferrerLocationID" message="tns:IUserService_GetReferrerUsersByReferrerLocationID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetReferrerUsersByReferrerLocationIDResponse" message="tns:IUserService_GetReferrerUsersByReferrerLocationID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserFailedAttemptCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUserFailedAttemptCount" message="tns:IUserService_UpdateUserFailedAttemptCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserFailedAttemptCountResponse" message="tns:IUserService_UpdateUserFailedAttemptCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetUserFailedAttemptCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ResetUserFailedAttemptCount" message="tns:IUserService_ResetUserFailedAttemptCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ResetUserFailedAttemptCountResponse" message="tns:IUserService_ResetUserFailedAttemptCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersRecentlyAdded">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUsersRecentlyAdded" message="tns:IUserService_GetUsersRecentlyAdded_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUsersRecentlyAddedResponse" message="tns:IUserService_GetUsersRecentlyAdded_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTypeUsersLikeUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserTypeUsersLikeUsername" message="tns:IUserService_GetUserTypeUsersLikeUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserTypeUsersLikeUsernameResponse" message="tns:IUserService_GetUserTypeUsersLikeUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTypeUsersLikeUserType">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserTypeUsersLikeUserType" message="tns:IUserService_GetUserTypeUsersLikeUserType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserTypeUsersLikeUserTypeResponse" message="tns:IUserService_GetUserTypeUsersLikeUserType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTypeUsersLikeName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserTypeUsersLikeName" message="tns:IUserService_GetUserTypeUsersLikeName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserTypeUsersLikeNameResponse" message="tns:IUserService_GetUserTypeUsersLikeName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserExistsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserExistsByName" message="tns:IUserService_GetUserExistsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserExistsByNameResponse" message="tns:IUserService_GetUserExistsByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTypeUsersLikeReferrerName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserTypeUsersLikeReferrerName" message="tns:IUserService_GetUserTypeUsersLikeReferrerName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserTypeUsersLikeReferrerNameResponse" message="tns:IUserService_GetUserTypeUsersLikeReferrerName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTypeUsersLikeSupplierName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserTypeUsersLikeSupplierName" message="tns:IUserService_GetUserTypeUsersLikeSupplierName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserTypeUsersLikeSupplierNameResponse" message="tns:IUserService_GetUserTypeUsersLikeSupplierName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserNameAutoComplete">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserByUserNameAutoComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserName">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLock">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateUserLock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserTypeID">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserByUserTypeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferrerUsersByReferrerLocationID">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetReferrerUsersByReferrerLocationID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserFailedAttemptCount">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateUserFailedAttemptCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetUserFailedAttemptCount">
      <soap:operation soapAction="http://tempuri.org/IUserService/ResetUserFailedAttemptCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersRecentlyAdded">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUsersRecentlyAdded" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserTypeUsersLikeUsername">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserTypeUsersLikeUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserTypeUsersLikeUserType">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserTypeUsersLikeUserType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserTypeUsersLikeName">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserTypeUsersLikeName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserExistsByName">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserExistsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserTypeUsersLikeReferrerName">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserTypeUsersLikeReferrerName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserTypeUsersLikeSupplierName">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserTypeUsersLikeSupplierName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://112.196.29.227:8081/ITS/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>