ITSPublicApp/ITSPublicApp.Web/Service References/ITSService.UserService/UserService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ITSService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ITSService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailedAttemptCount" type="xs:int" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsLocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastLoginDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferrerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReferrerLocationID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
</xs:schema>