ITSApp/ITS/Service References/ITSService.FinanceService/FinanceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://112.196.29.227:8081/ITS/FinanceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ITSService.DTO" />
  <xs:element name="AddInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="invoice" nillable="true" type="q1:Invoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddInvoiceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutstandingInvoicesCasePatientReferrer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutstandingInvoicesCasePatientReferrerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetOutstandingInvoicesCasePatientReferrerResult" nillable="true" type="q2:PagedCaseInvoicePatientReferrer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceByInvoiceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceByInvoiceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetInvoiceByInvoiceIDResult" nillable="true" type="q3:Invoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceCollectionActionByInvoiceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceCollectionActionByInvoiceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetInvoiceCollectionActionByInvoiceIDResult" nillable="true" type="q4:ArrayOfInvoiceCollectionActionUserName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicePaymentByInvoiceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicePaymentByInvoiceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetInvoicePaymentByInvoiceIDResult" nillable="true" type="q5:ArrayOfInvoicePaymentUserName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInvoiceCollectionAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="invoiceCollectionAction" nillable="true" type="q6:InvoiceCollectionAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInvoiceCollectionActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddInvoiceCollectionActionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInvoicePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="invoicePayment" nillable="true" type="q7:InvoicePayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInvoicePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddInvoicePaymentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInvoiceIsCompleteByInvoiceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isComplete" type="xs:boolean" />
        <xs:element minOccurs="0" name="invoiceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInvoiceIsCompleteByInvoiceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateInvoiceIsCompleteByInvoiceIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutstandingInvoicesCasePatientReferrerByInvoiceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutstandingInvoicesCasePatientReferrerByInvoiceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetOutstandingInvoicesCasePatientReferrerByInvoiceIDResult" nillable="true" type="q8:CaseInvoicePatientReferrer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>