ITSApp/ITS/Service References/ITSService.SolicitorService/SolicitorService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/ITS/SolicitorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ITSService.DTO" />
  <xs:element name="AddSolicitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="solicitor" nillable="true" type="q1:Solicitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSolicitorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSolicitorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSolicitorBySolicitorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="solicitor" nillable="true" type="q2:Solicitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSolicitorBySolicitorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSolicitorBySolicitorIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolicitorBySolicitorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solicitorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolicitorBySolicitorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSolicitorBySolicitorIDResult" nillable="true" type="q3:Solicitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolicitorByPatientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolicitorByPatientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ITSService.DTO" minOccurs="0" name="GetSolicitorByPatientIDResult" nillable="true" type="q4:Solicitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>