ITSPublicApp/ITSPublicApp.Web/Service References/ITSService.LookUpService/LookUpService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ITSService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ITSService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTreatmentCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TreatmentCategory" nillable="true" type="tns:TreatmentCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTreatmentCategory" nillable="true" type="tns:ArrayOfTreatmentCategory" />
  <xs:complexType name="TreatmentCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="TreatmentCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="TreatmentCategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TreatmentCategory" nillable="true" type="tns:TreatmentCategory" />
  <xs:complexType name="ArrayOfPricingType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PricingType" nillable="true" type="tns:PricingType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPricingType" nillable="true" type="tns:ArrayOfPricingType" />
  <xs:complexType name="PricingType">
    <xs:sequence>
      <xs:element minOccurs="0" name="PricingTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="PricingTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricingType" nillable="true" type="tns:PricingType" />
  <xs:complexType name="ArrayOfServiceLevelAgreement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceLevelAgreement" nillable="true" type="tns:ServiceLevelAgreement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceLevelAgreement" nillable="true" type="tns:ArrayOfServiceLevelAgreement" />
  <xs:complexType name="ServiceLevelAgreement">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServiceLevelAgreementID" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceLevelAgreementName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceLevelAgreement" nillable="true" type="tns:ServiceLevelAgreement" />
  <xs:complexType name="ArrayOfAssessmentService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssessmentService" nillable="true" type="tns:AssessmentService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssessmentService" nillable="true" type="tns:ArrayOfAssessmentService" />
  <xs:complexType name="AssessmentService">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssessmentServiceID" type="xs:int" />
      <xs:element minOccurs="0" name="AssessmentServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssessmentService" nillable="true" type="tns:AssessmentService" />
  <xs:complexType name="ArrayOfAssessmentType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssessmentType" nillable="true" type="tns:AssessmentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssessmentType" nillable="true" type="tns:ArrayOfAssessmentType" />
  <xs:complexType name="AssessmentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssessmentTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="AssessmentTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssessmentType" nillable="true" type="tns:AssessmentType" />
  <xs:complexType name="ArrayOfDelegatedAuthorisation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DelegatedAuthorisation" nillable="true" type="tns:DelegatedAuthorisation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDelegatedAuthorisation" nillable="true" type="tns:ArrayOfDelegatedAuthorisation" />
  <xs:complexType name="DelegatedAuthorisation">
    <xs:sequence>
      <xs:element minOccurs="0" name="DelegatedAuthorisationID" type="xs:int" />
      <xs:element minOccurs="0" name="DeletegatedAuthorisationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DelegatedAuthorisation" nillable="true" type="tns:DelegatedAuthorisation" />
  <xs:complexType name="ArrayOfTreatmentCategoriesPricingTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TreatmentCategoriesPricingTypes" nillable="true" type="tns:TreatmentCategoriesPricingTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTreatmentCategoriesPricingTypes" nillable="true" type="tns:ArrayOfTreatmentCategoriesPricingTypes" />
  <xs:complexType name="TreatmentCategoriesPricingTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="PricingTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="PricingTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TreatmentCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="TreatmentCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TreatmentCategoryPricingTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TreatmentCategoriesPricingTypes" nillable="true" type="tns:TreatmentCategoriesPricingTypes" />
  <xs:complexType name="ArrayOfInvoiceMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceMethod" nillable="true" type="tns:InvoiceMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoiceMethod" nillable="true" type="tns:ArrayOfInvoiceMethod" />
  <xs:complexType name="InvoiceMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="InvoiceMethodID" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceMethodName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceMethod" nillable="true" type="tns:InvoiceMethod" />
  <xs:complexType name="ArrayOfDelegatedAuthorisationTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DelegatedAuthorisationTypes" nillable="true" type="tns:DelegatedAuthorisationTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDelegatedAuthorisationTypes" nillable="true" type="tns:ArrayOfDelegatedAuthorisationTypes" />
  <xs:complexType name="DelegatedAuthorisationTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="DelegatedAuthorisationTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="DelegatedAuthorisationTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DelegatedAuthorisationTypes" nillable="true" type="tns:DelegatedAuthorisationTypes" />
  <xs:complexType name="ArrayOfDocumentSetupTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentSetupTypes" nillable="true" type="tns:DocumentSetupTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentSetupTypes" nillable="true" type="tns:ArrayOfDocumentSetupTypes" />
  <xs:complexType name="DocumentSetupTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentSetupTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="DocumentSetupTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentSetupTypes" nillable="true" type="tns:DocumentSetupTypes" />
  <xs:complexType name="ArrayOfEmailType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailType" nillable="true" type="tns:EmailType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailType" nillable="true" type="tns:ArrayOfEmailType" />
  <xs:complexType name="EmailType">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="EmailTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailType" nillable="true" type="tns:EmailType" />
  <xs:complexType name="ArrayOfComplaintStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComplaintStatus" nillable="true" type="tns:ComplaintStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComplaintStatus" nillable="true" type="tns:ArrayOfComplaintStatus" />
  <xs:complexType name="ComplaintStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComplaintStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="ComplaintStatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplaintStatus" nillable="true" type="tns:ComplaintStatus" />
  <xs:complexType name="ArrayOfComplaintType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComplaintType" nillable="true" type="tns:ComplaintType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComplaintType" nillable="true" type="tns:ArrayOfComplaintType" />
  <xs:complexType name="ComplaintType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComplaintTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="ComplaintTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplaintType" nillable="true" type="tns:ComplaintType" />
  <xs:complexType name="ArrayOfRegistrationType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegistrationType" nillable="true" type="tns:RegistrationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegistrationType" nillable="true" type="tns:ArrayOfRegistrationType" />
  <xs:complexType name="RegistrationType">
    <xs:sequence>
      <xs:element minOccurs="0" name="RegistrationTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="RegistrationTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TreatmentCategoryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationType" nillable="true" type="tns:RegistrationType" />
  <xs:complexType name="ArrayOfTreatmentType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TreatmentType" nillable="true" type="tns:TreatmentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTreatmentType" nillable="true" type="tns:ArrayOfTreatmentType" />
  <xs:complexType name="TreatmentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="TreatmentTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="TreatmentTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TreatmentType" nillable="true" type="tns:TreatmentType" />
  <xs:complexType name="ArrayOfAreasofExpertise">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AreasofExpertise" nillable="true" type="tns:AreasofExpertise" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAreasofExpertise" nillable="true" type="tns:ArrayOfAreasofExpertise" />
  <xs:complexType name="AreasofExpertise">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreasofExpertiseCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="AreasofExpertiseID" type="xs:int" />
      <xs:element minOccurs="0" name="AreasofExpertiseName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AreasofExpertise" nillable="true" type="tns:AreasofExpertise" />
  <xs:complexType name="ArrayOfPatientImpactValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientImpactValue" nillable="true" type="tns:PatientImpactValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientImpactValue" nillable="true" type="tns:ArrayOfPatientImpactValue" />
  <xs:complexType name="PatientImpactValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientImpactValueID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientImpactValueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientImpactValue" nillable="true" type="tns:PatientImpactValue" />
  <xs:complexType name="UKPostCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Easting" type="xs:int" />
      <xs:element minOccurs="0" name="GridRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Northing" type="xs:int" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RadiansLatitude" type="xs:double" />
      <xs:element minOccurs="0" name="RadiansLongitude" type="xs:double" />
      <xs:element minOccurs="0" name="Ward" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WardCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UKPostCode" nillable="true" type="tns:UKPostCode" />
  <xs:complexType name="ArrayOfPsychologicalFactor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PsychologicalFactor" nillable="true" type="tns:PsychologicalFactor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPsychologicalFactor" nillable="true" type="tns:ArrayOfPsychologicalFactor" />
  <xs:complexType name="PsychologicalFactor">
    <xs:sequence>
      <xs:element minOccurs="0" name="PsychologicalFactorID" type="xs:int" />
      <xs:element minOccurs="0" name="PsychologicalFactorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PsychologicalFactor" nillable="true" type="tns:PsychologicalFactor" />
  <xs:complexType name="ArrayOfPatientWorkstatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientWorkstatus" nillable="true" type="tns:PatientWorkstatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientWorkstatus" nillable="true" type="tns:ArrayOfPatientWorkstatus" />
  <xs:complexType name="PatientWorkstatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientWorkstatusID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientWorkstatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientWorkstatus" nillable="true" type="tns:PatientWorkstatus" />
  <xs:complexType name="ArrayOfPatientImpact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientImpact" nillable="true" type="tns:PatientImpact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientImpact" nillable="true" type="tns:ArrayOfPatientImpact" />
  <xs:complexType name="PatientImpact">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientImpactID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientImpactName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientImpact" nillable="true" type="tns:PatientImpact" />
  <xs:complexType name="ArrayOfPatientImpactOnWork">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientImpactOnWork" nillable="true" type="tns:PatientImpactOnWork" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientImpactOnWork" nillable="true" type="tns:ArrayOfPatientImpactOnWork" />
  <xs:complexType name="PatientImpactOnWork">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientImpactOnWorkID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientImpactOnWorkName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientImpactOnWork" nillable="true" type="tns:PatientImpactOnWork" />
  <xs:complexType name="ArrayOfProposedTreatmentMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProposedTreatmentMethod" nillable="true" type="tns:ProposedTreatmentMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProposedTreatmentMethod" nillable="true" type="tns:ArrayOfProposedTreatmentMethod" />
  <xs:complexType name="ProposedTreatmentMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProposedTreatmentMethodID" type="xs:int" />
      <xs:element minOccurs="0" name="ProposedTreatmentMethodName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProposedTreatmentMethod" nillable="true" type="tns:ProposedTreatmentMethod" />
  <xs:complexType name="ArrayOfPatientLevelOfRecovery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientLevelOfRecovery" nillable="true" type="tns:PatientLevelOfRecovery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientLevelOfRecovery" nillable="true" type="tns:ArrayOfPatientLevelOfRecovery" />
  <xs:complexType name="PatientLevelOfRecovery">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientLevelOfRecoveryID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientLevelOfRecoveryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientLevelOfRecovery" nillable="true" type="tns:PatientLevelOfRecovery" />
  <xs:complexType name="ArrayOfTreatmentCategoryBespokeService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TreatmentCategoryBespokeService" nillable="true" type="tns:TreatmentCategoryBespokeService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTreatmentCategoryBespokeService" nillable="true" type="tns:ArrayOfTreatmentCategoryBespokeService" />
  <xs:complexType name="TreatmentCategoryBespokeService">
    <xs:sequence>
      <xs:element minOccurs="0" name="BespokeServiceID" type="xs:int" />
      <xs:element minOccurs="0" name="TreatmentCategoryBespokeServiceID" type="xs:int" />
      <xs:element minOccurs="0" name="TreatmentCategoryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TreatmentCategoryBespokeService" nillable="true" type="tns:TreatmentCategoryBespokeService" />
  <xs:complexType name="ArrayOfDuration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Duration" nillable="true" type="tns:Duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDuration" nillable="true" type="tns:ArrayOfDuration" />
  <xs:complexType name="Duration">
    <xs:sequence>
      <xs:element minOccurs="0" name="DurationID" type="xs:int" />
      <xs:element minOccurs="0" name="DurationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Duration" nillable="true" type="tns:Duration" />
  <xs:complexType name="ArrayOfPatientRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientRole" nillable="true" type="tns:PatientRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientRole" nillable="true" type="tns:ArrayOfPatientRole" />
  <xs:complexType name="PatientRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientRoleID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientRoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientRole" nillable="true" type="tns:PatientRole" />
</xs:schema>