ITSApp/ITS/Service References/ITSService.AssessmentService/AssessmentService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ITSService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ITSService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CaseAssessmentRating">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssessmentServiceID" type="xs:int" />
      <xs:element minOccurs="0" name="CaseAssessmentRatingID" type="xs:int" />
      <xs:element minOccurs="0" name="CaseID" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" type="xs:decimal" />
      <xs:element minOccurs="0" name="RatingDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaseAssessmentRating" nillable="true" type="tns:CaseAssessmentRating" />
  <xs:complexType name="ArrayOfPatientImpactValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientImpactValue" nillable="true" type="tns:PatientImpactValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientImpactValue" nillable="true" type="tns:ArrayOfPatientImpactValue" />
  <xs:complexType name="PatientImpactValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientImpactValueID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientImpactValueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientImpactValue" nillable="true" type="tns:PatientImpactValue" />
  <xs:complexType name="ArrayOfPatientImpact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientImpact" nillable="true" type="tns:PatientImpact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientImpact" nillable="true" type="tns:ArrayOfPatientImpact" />
  <xs:complexType name="PatientImpact">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientImpactID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientImpactName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientImpact" nillable="true" type="tns:PatientImpact" />
  <xs:complexType name="ArrayOfPsychologicalFactor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PsychologicalFactor" nillable="true" type="tns:PsychologicalFactor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPsychologicalFactor" nillable="true" type="tns:ArrayOfPsychologicalFactor" />
  <xs:complexType name="PsychologicalFactor">
    <xs:sequence>
      <xs:element minOccurs="0" name="PsychologicalFactorID" type="xs:int" />
      <xs:element minOccurs="0" name="PsychologicalFactorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PsychologicalFactor" nillable="true" type="tns:PsychologicalFactor" />
  <xs:complexType name="ArrayOfPatientWorkstatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientWorkstatus" nillable="true" type="tns:PatientWorkstatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientWorkstatus" nillable="true" type="tns:ArrayOfPatientWorkstatus" />
  <xs:complexType name="PatientWorkstatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientWorkstatusID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientWorkstatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientWorkstatus" nillable="true" type="tns:PatientWorkstatus" />
  <xs:complexType name="ArrayOfPatientImpactOnWork">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientImpactOnWork" nillable="true" type="tns:PatientImpactOnWork" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientImpactOnWork" nillable="true" type="tns:ArrayOfPatientImpactOnWork" />
  <xs:complexType name="PatientImpactOnWork">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientImpactOnWorkID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientImpactOnWorkName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientImpactOnWork" nillable="true" type="tns:PatientImpactOnWork" />
  <xs:complexType name="ArrayOfPatientLevelOfRecovery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientLevelOfRecovery" nillable="true" type="tns:PatientLevelOfRecovery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientLevelOfRecovery" nillable="true" type="tns:ArrayOfPatientLevelOfRecovery" />
  <xs:complexType name="PatientLevelOfRecovery">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientLevelOfRecoveryID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientLevelOfRecoveryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientLevelOfRecovery" nillable="true" type="tns:PatientLevelOfRecovery" />
  <xs:complexType name="ArrayOfProposedTreatmentMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProposedTreatmentMethod" nillable="true" type="tns:ProposedTreatmentMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProposedTreatmentMethod" nillable="true" type="tns:ArrayOfProposedTreatmentMethod" />
  <xs:complexType name="ProposedTreatmentMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProposedTreatmentMethodID" type="xs:int" />
      <xs:element minOccurs="0" name="ProposedTreatmentMethodName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProposedTreatmentMethod" nillable="true" type="tns:ProposedTreatmentMethod" />
  <xs:complexType name="ArrayOfTreatmentCategoryBespokeService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TreatmentCategoryBespokeService" nillable="true" type="tns:TreatmentCategoryBespokeService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTreatmentCategoryBespokeService" nillable="true" type="tns:ArrayOfTreatmentCategoryBespokeService" />
  <xs:complexType name="TreatmentCategoryBespokeService">
    <xs:sequence>
      <xs:element minOccurs="0" name="BespokeServiceID" type="xs:int" />
      <xs:element minOccurs="0" name="TreatmentCategoryBespokeServiceID" type="xs:int" />
      <xs:element minOccurs="0" name="TreatmentCategoryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TreatmentCategoryBespokeService" nillable="true" type="tns:TreatmentCategoryBespokeService" />
  <xs:complexType name="ArrayOfTreatmentCategoriesBespokeService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TreatmentCategoriesBespokeService" nillable="true" type="tns:TreatmentCategoriesBespokeService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTreatmentCategoriesBespokeService" nillable="true" type="tns:ArrayOfTreatmentCategoriesBespokeService" />
  <xs:complexType name="TreatmentCategoriesBespokeService">
    <xs:sequence>
      <xs:element minOccurs="0" name="BespokeServiceID" type="xs:int" />
      <xs:element minOccurs="0" name="BespokeServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TreatmentCategoryBespokeServiceID" type="xs:int" />
      <xs:element minOccurs="0" name="TreatmentCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="TreatmentCategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TreatmentCategoriesBespokeService" nillable="true" type="tns:TreatmentCategoriesBespokeService" />
  <xs:complexType name="CaseAssessment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnticipatedDateOfDischarge" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AssessmentAuthorisationID" type="xs:int" />
      <xs:element minOccurs="0" name="AssessmentServiceID" type="xs:int" />
      <xs:element minOccurs="0" name="AuthorisationDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaseAssessmentDetail" nillable="true" type="tns:CaseAssessmentDetail" />
      <xs:element minOccurs="0" name="CaseAssessmentPatientImpacts" nillable="true" type="tns:ArrayOfCaseAssessmentPatientImpact" />
      <xs:element minOccurs="0" name="CaseAssessmentPatientInjuries" nillable="true" type="tns:ArrayOfCaseAssessmentPatientInjury" />
      <xs:element minOccurs="0" name="CaseAssessmentPatientInjuriesBL" nillable="true" type="tns:ArrayOfCaseAssessmentPatientInjuryBL" />
      <xs:element minOccurs="0" name="CaseAssessmentProposedTreatmentMethods" nillable="true" type="tns:ArrayOfCaseAssessmentProposedTreatmentMethod" />
      <xs:element minOccurs="0" name="CaseAssessmentRating" nillable="true" type="tns:CaseAssessmentRating" />
      <xs:element minOccurs="0" name="CaseID" type="xs:int" />
      <xs:element minOccurs="0" name="DeniedMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FactorsAffectingTreatmentDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasPatientConsentForm" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasPatientHomeExerciseProgramme" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasPatientPastSymptoms" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasRedFlags" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasYellowFlags" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncidentAndDiagnosisDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAccepted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPatientDischarge" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPatientSufferingFinancialLoss" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPatientTakingMedication" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPatientUndergoingTreatment" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSaved" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="NeuralSymptomDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientOccupation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientRequiresFurtherInvestigation" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PatientRoleID" type="xs:int" />
      <xs:element minOccurs="0" name="PreExistingConditionDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelevantTestUndertaken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="WasPatientWorkingAtTheTimeOfTheAccident" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaseAssessment" nillable="true" type="tns:CaseAssessment" />
  <xs:complexType name="CaseAssessmentDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbsentDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AbsentPeriod" type="xs:int" />
      <xs:element minOccurs="0" name="AbsentPeriodDurationID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AdditionalInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssessmentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AssessmentServiceID" type="xs:int" />
      <xs:element minOccurs="0" name="CaseAssessmentDetailID" type="xs:int" />
      <xs:element minOccurs="0" name="CaseID" type="xs:int" />
      <xs:element minOccurs="0" name="DatesOfSessionAttended" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EvidenceOfClinicalReasoning" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EvidenceOfTreatmentRecommendations" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FollowingTreatmentPatientLevelOfRecoveryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FurtherInvestigationOrOnwardReferral" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasCompliedHomeExerciseProgramme" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasThePatientHadTimeOff" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasThePatientReturnedToWork" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsFurtherInvestigationOrOnwardReferralRequired" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsFurtherTreatmentRecommended" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPatientReturnToPreInjuryDuties" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MainFactors" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientDateOfReturn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PatientImpactOnWorkID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientLevelOfRecoveryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PatientPreInjuryDutiesDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PatientRecommendationReturn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientRecommendedTreatmentSessions" type="xs:int" />
      <xs:element minOccurs="0" name="PatientRecommendedTreatmentSessionsDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientTreatmentPeriod" type="xs:int" />
      <xs:element minOccurs="0" name="PatientTreatmentPeriodDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientTreatmentPeriodDurationID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PatientWorkstatusID" type="xs:int" />
      <xs:element minOccurs="0" name="PractitionerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SessionsPatientAttended" type="xs:int" />
      <xs:element minOccurs="0" name="SessionsPatientFailedToAttend" type="xs:int" />
      <xs:element minOccurs="0" name="TreatmentPeriodTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaseAssessmentDetail" nillable="true" type="tns:CaseAssessmentDetail" />
  <xs:complexType name="ArrayOfCaseAssessmentPatientImpact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CaseAssessmentPatientImpact" nillable="true" type="tns:CaseAssessmentPatientImpact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCaseAssessmentPatientImpact" nillable="true" type="tns:ArrayOfCaseAssessmentPatientImpact" />
  <xs:complexType name="CaseAssessmentPatientImpact">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseAssessmentDetailID" type="xs:int" />
      <xs:element minOccurs="0" name="CaseAssessmentPatientImpactID" type="xs:int" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientImpactID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientImpactValueID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaseAssessmentPatientImpact" nillable="true" type="tns:CaseAssessmentPatientImpact" />
  <xs:complexType name="ArrayOfCaseAssessmentPatientInjury">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CaseAssessmentPatientInjury" nillable="true" type="tns:CaseAssessmentPatientInjury" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCaseAssessmentPatientInjury" nillable="true" type="tns:ArrayOfCaseAssessmentPatientInjury" />
  <xs:complexType name="CaseAssessmentPatientInjury">
    <xs:sequence>
      <xs:element minOccurs="0" name="AffectedArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AffectedAreaID" type="xs:int" />
      <xs:element minOccurs="0" name="CaseAssessmentDetailID" type="xs:int" />
      <xs:element minOccurs="0" name="CaseAssessmentPatientInjuryID" type="xs:int" />
      <xs:element minOccurs="0" name="OtherSymptomDesciption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Restriction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RestrictionRangeID" type="xs:int" />
      <xs:element minOccurs="0" name="Score" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrengthTestingID" type="xs:int" />
      <xs:element minOccurs="0" name="SymptomDescriptionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaseAssessmentPatientInjury" nillable="true" type="tns:CaseAssessmentPatientInjury" />
  <xs:complexType name="ArrayOfCaseAssessmentPatientInjuryBL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CaseAssessmentPatientInjuryBL" nillable="true" type="tns:CaseAssessmentPatientInjuryBL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCaseAssessmentPatientInjuryBL" nillable="true" type="tns:ArrayOfCaseAssessmentPatientInjuryBL" />
  <xs:complexType name="CaseAssessmentPatientInjuryBL">
    <xs:sequence>
      <xs:element minOccurs="0" name="AffectedArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AffectedAreaDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AffectedAreaID" type="xs:int" />
      <xs:element minOccurs="0" name="CaseAssessmentDetailID" type="xs:int" />
      <xs:element minOccurs="0" name="CaseAssessmentPatientInjuryID" type="xs:int" />
      <xs:element minOccurs="0" name="OtherSymptomDesciption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Restriction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RestrictionRangeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RestrictionRangeID" type="xs:int" />
      <xs:element minOccurs="0" name="Score" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrengthTestingDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrengthTestingID" type="xs:int" />
      <xs:element minOccurs="0" name="SymptomDescriptionID" type="xs:int" />
      <xs:element minOccurs="0" name="SymptomDescriptionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaseAssessmentPatientInjuryBL" nillable="true" type="tns:CaseAssessmentPatientInjuryBL" />
  <xs:complexType name="ArrayOfCaseAssessmentProposedTreatmentMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CaseAssessmentProposedTreatmentMethod" nillable="true" type="tns:CaseAssessmentProposedTreatmentMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCaseAssessmentProposedTreatmentMethod" nillable="true" type="tns:ArrayOfCaseAssessmentProposedTreatmentMethod" />
  <xs:complexType name="CaseAssessmentProposedTreatmentMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseID" type="xs:int" />
      <xs:element minOccurs="0" name="ProposedTreatmentMethodID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaseAssessmentProposedTreatmentMethod" nillable="true" type="tns:CaseAssessmentProposedTreatmentMethod" />
  <xs:complexType name="ArrayOfCaseAssessmentDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CaseAssessmentDetail" nillable="true" type="tns:CaseAssessmentDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCaseAssessmentDetail" nillable="true" type="tns:ArrayOfCaseAssessmentDetail" />
  <xs:complexType name="CaseAssessmentCustom">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseAssessmentID" type="xs:int" />
      <xs:element minOccurs="0" name="CaseID" type="xs:int" />
      <xs:element minOccurs="0" name="FinalAssessmentMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFurtherTreatment" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewAssessmentMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isAccepted" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaseAssessmentCustom" nillable="true" type="tns:CaseAssessmentCustom" />
  <xs:complexType name="ReferrerCaseAssessmentModification">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssessmentServiceID" type="xs:int" />
      <xs:element minOccurs="0" name="AssessmentServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaseID" type="xs:int" />
      <xs:element minOccurs="0" name="ReferrerCaseAssessmentModificationID" type="xs:int" />
      <xs:element minOccurs="0" name="TreatmentSession" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReferrerCaseAssessmentModification" nillable="true" type="tns:ReferrerCaseAssessmentModification" />
  <xs:complexType name="ArrayOfReferrerCaseAssessmentModificationAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReferrerCaseAssessmentModificationAuthority" nillable="true" type="tns:ReferrerCaseAssessmentModificationAuthority" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReferrerCaseAssessmentModificationAuthority" nillable="true" type="tns:ArrayOfReferrerCaseAssessmentModificationAuthority" />
  <xs:complexType name="ReferrerCaseAssessmentModificationAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseID" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfService" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="QTY" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReferrerCaseAssessmentModificationAuthority" nillable="true" type="tns:ReferrerCaseAssessmentModificationAuthority" />
  <xs:complexType name="ArrayOfReferrerCaseAssessmentModification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReferrerCaseAssessmentModification" nillable="true" type="tns:ReferrerCaseAssessmentModification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReferrerCaseAssessmentModification" nillable="true" type="tns:ArrayOfReferrerCaseAssessmentModification" />
</xs:schema>